h1 {
    font: xxx-large 'Arial Narrow', sans-serif;
    text-shadow: #900000 1px 1px 0;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 15px;
}
strong {
    font: large 'Arial Narrow', sans-serif;
    text-shadow: #900000 1px 1px 0;
    font-weight: 80;
    letter-spacing: 5px;
}